/* Fonts Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* -------------------
    Media Query 
------------------ */
@media only screen and (min-width:675px) {
    .slider-img{
        width: 100%;
    }
}
@media only screen and (min-width: 1200px){
    .popular-pack-margin{
        margin-top: -30px;
    }
}


/* Font Colors */
.white-btn-text{
    color: #3F87F5;
}
.section-title{
    color: #231D4F;
}
.list-text{
    color: #848199;
}
.fa-check-circle{
    color: #5243C2;
}
.highlight-pack> p> i{
    color: #FFFFFF;
}

/* Button Styles */
.blue-btn{
    background-color: #3F87F5;
}

/* Toast Style */
.toast-style{
    border-left: 8px solid #3F87F5;
}

/* Package Styles */
.popular-pack-bg{
    background-color: #3F87F5;
}
.package-border{
    border-radius: 26px;
}
.popular-pack-badge{
    background-color: #FF4E4E;
}
.badge-margin{
    margin-left: 90px;
}

/* Accordion Style */
.accordion-button{
    background-color: transparent !important;
}

/* Footer Styles */
.footer-style{
    background-color: #0B0D17;
    padding: 70px 0 70px 0;
}
