/* Fonts Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* Media Query */
@media only screen and (min-width:675px) {
    .slider-img{
        width: 100%;
    }
}

/* Font Colors */
.container-text{
    color: #231D4F;
}
.regular-text{
    color: #848199;
}
.fas{
    color: #5243C2;
}
.special-check> p> i{
    color: #FFFFFF;
}

/* Toast Style */
.toast-style{
    border-left: 8px solid #3F87F5;
}

/* Package Styles */
.border-pack{
    border-radius: 26px;
}
.badge-margin{
    margin-left: 100px;
}
.hot-pack{
    margin-top: -10px;
    margin-bottom: 30px;
}

/* Accordion Style */
.accordion-button{
    background-color: transparent !important;
}

/* Footer Styles */
.footer-style{
    background-color: #0B0D17;
    padding: 70px 0 70px 0;
}
